h1,
ul strong,
ul b,
footer {
  font-family: 'IBM Plex Serif', serif;
}

#description,
#org,
ul small,
ul u {
  font-family: 'IBM Plex Sans JP', sans-serif;
}

#things ul u {
  display: block;
  border: solid 1px;
  border-radius: 0.5rem;
  padding: 0.125rem 0.25rem;
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
  text-decoration: none;
}

input[type="button"] {
  color: #000;
}

input[type="radio"]+label:hover {
  text-decoration: #000 underline double;
}

nav label:not(:first-of-type)::before {
  content: "|";
  color: #000;
  font-weight: 900;
  margin: 0 0.5rem;
}

a,
input[type="radio"]:not(:checked)+label {
  color: #ddd;
}

a:hover,
input[type="radio"]:checked+label {
  color: #000;
}

header {
  border-bottom: dotted #ddd 1px;
}

footer {
  border-top: dotted #ddd 1px;
}

#things::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #ddd;
}